* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: green;
    background-image: url('/images/beachbackground2.jpg');
}

h1 {
    font-size: 4em;
    margin: 10px;
}

canvas {
    margin-left: 20%;
}

footer {
    margin: 10px;
}

.center {
    text-align: center;
}

#chair1 {
    display: none;
}

#ball {
    display: none;
}